@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #252B42;
  letter-spacing: 0.2px;
}

.loaded body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  line-height: 1.4;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 65.625rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.text {
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #fff;
}

.link {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.link:hover {
  color: #2A7CC7;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.logo {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.1px;
  -webkit-transition: 0.4s ease all;
  -o-transition: 0.4s ease all;
  transition: 0.4s ease all;
}

.logo:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  color: #2A7CC7;
}

.btn {
  -webkit-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  transition: all ease 0.4s;
  font-weight: 700;
  white-space: nowrap;
  border-radius: 5px;
}

.btn:hover {
  background-color: #2A7CC7;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.btn_arr {
  padding: 15px 25px;
  background-color: #23A6F0;
  border-radius: 5px;
}

.btn_arr svg {
  margin-left: 15px;
}

.btn_arr:hover {
  background-color: #2A7CC7;
}

.btn_oval {
  border-radius: 37px;
  background: #23A6F0;
  padding: 15px 36px;
}

.btn_oval:hover {
  background-color: #2A7CC7;
}

.btn_op {
  border: 1px solid #FFFFFF;
  background-color: inherit;
}

.btn_op:hover {
  background-color: inherit;
  border-color: #2A7CC7;
  color: #2A7CC7;
}

.btn:hover svg {
  -webkit-transition: -webkit-transform ease 0.4s;
  transition: -webkit-transform ease 0.4s;
  -o-transition: transform ease 0.4s;
  transition: transform ease 0.4s;
  transition: transform ease 0.4s, -webkit-transform ease 0.4s;
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
}

.title-box {
  text-align: center;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.title-box__title {
  font-weight: 700;
  font-size: 40px;
  color: #FFFFFF;
  letter-spacing: 0.2px;
}

.title-box__subtitle {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.2px;
}

.bonus {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 42px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #252B42;
  font-weight: 600;
  font-size: 14px;
  height: 29px;
}

.bonus_active::before {
  background: #2DC071 url("../img/pricing/check.svg") center no-repeat;
}

.bonus_inactive::before {
  background: #BDBDBD url("../img/pricing/check.svg") center no-repeat;
}

.bonus::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  left: 0;
}

.jq-stars {
  display: inline-block;
}

.jq-rating-label {
  font-size: 22px;
  display: inline-block;
  position: relative;
  vertical-align: top;
  font-family: helvetica, arial, verdana;
}

.jq-star {
  width: 100px;
  height: 100px;
  display: inline-block;
  cursor: pointer;
}

.jq-star-svg {
  padding-left: 3px;
  width: 100%;
  height: 100%;
}

.jq-star-svg path {
  /* stroke: #000; */
  stroke-linejoin: round;
}

/* un-used */

.jq-shadow {
  -webkit-filter: drop-shadow(-2px -2px 2px #888);
  filter: drop-shadow(-2px -2px 2px #888);
}

.header {
  padding-top: 25px;
  z-index: 50;
  position: relative;
}

.nav {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.col-nav {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 40px;
}

.logo {
  z-index: 2;
}

.menu {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  font-weight: 600;
}

@supports (grid-gap: clamp( 1.25rem , 1.25rem  +  0vw , 1.25rem )) {
  .menu {
    grid-gap: clamp( 1.25rem , 1.25rem  +  0vw , 1.25rem );
  }
}

@supports not (grid-gap: clamp( 1.25rem , 1.25rem  +  0vw , 1.25rem )) {
  .menu {
    grid-gap: calc(1.25rem + 0 * (100vw - 20rem) / 47.5);
  }
}

.menu-open .menu {
  position: relative;
  margin-top: 0;
}

.menu__item {
  width: 100%;
}

.menu__link {
  display: block;
}

.search__input {
  padding: 18px;
  background-color: #fff;
  border: 1px solid #23A6F0;
  border-radius: 10px;
  width: 100%;
  position: absolute;
  top: 50px;
  left: 0;
  font-size: 18px;
  outline-color: #23A6F0;
  display: none;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.col-nav--active .search__input {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.search__input::-webkit-input-placeholder {
  font-weight: 700;
  font-size: 16px;
}

.search__input::-moz-placeholder {
  font-weight: 700;
  font-size: 16px;
}

.search__input:-ms-input-placeholder {
  font-weight: 700;
  font-size: 16px;
}

.search__input::-ms-input-placeholder {
  font-weight: 700;
  font-size: 16px;
}

.search__input::placeholder {
  font-weight: 700;
  font-size: 16px;
}

.auth-menu {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (grid-gap: clamp( 1.5625rem , -1.8417553191rem  +  7.0921985816vw , 2.8125rem )) {
  .auth-menu {
    grid-gap: clamp( 1.5625rem , -1.8417553191rem  +  7.0921985816vw , 2.8125rem );
  }
}

@supports not (grid-gap: clamp( 1.5625rem , -1.8417553191rem  +  7.0921985816vw , 2.8125rem )) {
  .auth-menu {
    grid-gap: calc(1.5625rem + 1.25 * (100vw - 48rem) / 17.625);
  }
}

.auth-menu__login-link {
  font-weight: 700;
}

.auth-menu__icon-arr {
  width: 12px;
  height: 10px;
}

.auth-menu-mobile {
  display: none;
  grid-auto-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

@supports (grid-gap: clamp( 1.25rem , -0.1701183432rem  +  7.100591716vw , 2rem )) {
  .auth-menu-mobile {
    grid-gap: clamp( 1.25rem , -0.1701183432rem  +  7.100591716vw , 2rem );
  }
}

@supports not (grid-gap: clamp( 1.25rem , -0.1701183432rem  +  7.100591716vw , 2rem )) {
  .auth-menu-mobile {
    grid-gap: calc(1.25rem + 0.75 * (100vw - 20rem) / 10.5625);
  }
}

.auth-menu-mobile__btn:hover {
  background-color: initial;
}

.auth-menu-mobile__btn:last-child {
  width: 20px;
  height: 14px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 4px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.menu-open .auth-menu-mobile__btn:last-child span:nth-child(1) {
  width: 100%;
  top: 0;
}

.menu-open .auth-menu-mobile__btn:last-child span:nth-child(2) {
  width: 17px;
  top: calc(50% - 0.0625rem);
}

.menu-open .auth-menu-mobile__btn:last-child span:nth-child(3) {
  width: 10px;
  bottom: 0;
}

.auth-menu-mobile__btn:last-child span {
  height: 2px;
  background-color: #fff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: absolute;
}

.auth-menu-mobile__btn:last-child span:nth-child(1) {
  width: 100%;
  top: 0;
}

.auth-menu-mobile__btn:last-child span:nth-child(2) {
  width: 100%;
  top: calc(50% - 0.0625rem);
}

.auth-menu-mobile__btn:last-child span:nth-child(3) {
  width: 100%;
  bottom: 0;
}

.auth-menu-mobile__icon-search {
  height: 24px;
  width: 24px;
}

.auth-menu-mobile__icon-card {
  height: 24px;
  width: 24px;
}

@supports (padding-top: clamp( 2.5rem , -2.0566037736rem  +  17.6100628931vw , 9.5rem )) {
  .hero {
    padding-top: clamp( 2.5rem , -2.0566037736rem  +  17.6100628931vw , 9.5rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , -2.0566037736rem  +  17.6100628931vw , 9.5rem )) {
  .hero {
    padding-top: calc(2.5rem + 7 * (100vw - 25.875rem) / 39.75);
  }
}

.hero__content {
  display: -ms-grid;
  display: grid;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 40px;
}

@supports (gap: clamp( 2.5rem , 2.5rem  +  0vw , 2.5rem )) {
  .hero__content {
    gap: clamp( 2.5rem , 2.5rem  +  0vw , 2.5rem );
  }
}

@supports not (gap: clamp( 2.5rem , 2.5rem  +  0vw , 2.5rem )) {
  .hero__content {
    gap: calc(2.5rem + 0 * (100vw - 20rem) / 47.5);
  }
}

.hero__title {
  font-weight: 800;
  max-width: 680px;
}

@supports (font-size: clamp( 2.5rem , 2.0263157895rem  +  2.3684210526vw , 3.625rem )) {
  .hero__title {
    font-size: clamp( 2.5rem , 2.0263157895rem  +  2.3684210526vw , 3.625rem );
  }
}

@supports not (font-size: clamp( 2.5rem , 2.0263157895rem  +  2.3684210526vw , 3.625rem )) {
  .hero__title {
    font-size: calc(2.5rem + 1.125 * (100vw - 20rem) / 47.5);
  }
}

.hero__subtitle {
  font-weight: 500;
  font-size: 20px;
  max-width: 500px;
}

.hero__buttons {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-auto-flow: column;
  grid-gap: 10px;
}

@supports (padding-top: clamp( 0.0000000625rem , -2.5263157007rem  +  12.6315788158vw , 6rem )) {
  .strategy {
    padding-top: clamp( 0.0000000625rem , -2.5263157007rem  +  12.6315788158vw , 6rem );
  }
}

@supports not (padding-top: clamp( 0.0000000625rem , -2.5263157007rem  +  12.6315788158vw , 6rem )) {
  .strategy {
    padding-top: calc(0.0000000625rem + 5.9999999375 * (100vw - 20rem) / 47.5);
  }
}

@supports (padding-bottom: clamp( 0.0000000625rem , -1.0526314901rem  +  5.2631577632vw , 2.5rem )) {
  .strategy {
    padding-bottom: clamp( 0.0000000625rem , -1.0526314901rem  +  5.2631577632vw , 2.5rem );
  }
}

@supports not (padding-bottom: clamp( 0.0000000625rem , -1.0526314901rem  +  5.2631577632vw , 2.5rem )) {
  .strategy {
    padding-bottom: calc(0.0000000625rem + 2.4999999375 * (100vw - 20rem) / 47.5);
  }
}

.strategy__content {
  display: -ms-grid;
  display: grid;
  grid-gap: 25px;
}

.strategy__title-box {
  padding-top: 45px;
  padding-bottom: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

.strategy__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(320px, 328px))[3];
  grid-template-columns: repeat(3, minmax(320px, 328px));
  -ms-grid-rows: (1fr)[2];
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 30px;
}

.strategy__item {
  padding: 35px 27px 35px 88px;
  background: url("../img/strategy/1.svg") 20px center no-repeat;
  border: 1px solid #F2F2F2;
  border-radius: 2px;
}

.strategy__text-item {
  font-weight: 500;
  letter-spacing: 0.2px;
  max-width: 209px;
}

.strategy .title-box {
  max-width: 688px;
}

.strategy .title-box__title {
  padding: 0 118px;
}

.strategy .title-box__subtitle {
  color: #737373;
  margin: 0 auto;
  white-space: pre-line;
}

@supports (padding-top: clamp( 2.5rem , 0.6052631579rem  +  9.4736842105vw , 7rem )) {
  .clients {
    padding-top: clamp( 2.5rem , 0.6052631579rem  +  9.4736842105vw , 7rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 0.6052631579rem  +  9.4736842105vw , 7rem )) {
  .clients {
    padding-top: calc(2.5rem + 4.5 * (100vw - 20rem) / 47.5);
  }
}

@supports (padding-bottom: clamp( 0.0000000625rem , -2.9473683322rem  +  14.7368419737vw , 7rem )) {
  .clients {
    padding-bottom: clamp( 0.0000000625rem , -2.9473683322rem  +  14.7368419737vw , 7rem );
  }
}

@supports not (padding-bottom: clamp( 0.0000000625rem , -2.9473683322rem  +  14.7368419737vw , 7rem )) {
  .clients {
    padding-bottom: calc(0.0000000625rem + 6.9999999375 * (100vw - 20rem) / 47.5);
  }
}

.clients__content {
  display: -ms-grid;
  display: grid;
  grid-gap: 80px;
}

.clients__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.clients__card {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
}

.clients__image-mobile {
  display: none;
}

.clients__info {
  padding: 30px 40px 30px 40px;
  background-color: #fff;
  color: #737373;
  display: -ms-grid;
  display: grid;
  grid-gap: 15px;
}

.clients__name {
  color: #252B42;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.1px;
  text-transform: capitalize;
}

.clients__prof {
  font-weight: 600;
  font-size: 14px;
  color: #737373;
}

.clients__rating {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (22px)[5];
  grid-template-columns: repeat(5, 22px);
  grid-gap: 5px;
}

.clients__comment {
  font-weight: 500;
}

.clients .trash {
  display: none;
}

@supports (padding-top: clamp( 2.5rem , -0.429245283rem  +  11.320754717vw , 7rem )) {
  .about {
    padding-top: clamp( 2.5rem , -0.429245283rem  +  11.320754717vw , 7rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , -0.429245283rem  +  11.320754717vw , 7rem )) {
  .about {
    padding-top: calc(2.5rem + 4.5 * (100vw - 25.875rem) / 39.75);
  }
}

@supports (padding-bottom: clamp( 2.5rem , -0.429245283rem  +  11.320754717vw , 7rem )) {
  .about {
    padding-bottom: clamp( 2.5rem , -0.429245283rem  +  11.320754717vw , 7rem );
  }
}

@supports not (padding-bottom: clamp( 2.5rem , -0.429245283rem  +  11.320754717vw , 7rem )) {
  .about {
    padding-bottom: calc(2.5rem + 4.5 * (100vw - 25.875rem) / 39.75);
  }
}

.about__inner {
  display: -ms-grid;
  display: grid;
  grid-gap: 96px;
}

.about__content {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 15px;
}

.about__video {
  position: relative;
  display: block;
  -webkit-transition: 0.4s ease all;
  -o-transition: 0.4s ease all;
  transition: 0.4s ease all;
}

.about__video-img {
  width: 100%;
}

.about__video::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(14.58%, rgba(0, 0, 0, 0)), to(rgba(56, 56, 56, 0.84)));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0) 14.58%, rgba(56, 56, 56, 0.84) 100%);
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 14.58%, rgba(56, 56, 56, 0.84) 100%);
}

.about__video::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 93px;
  height: 93px;
  border-radius: 50%;
  z-index: 333;
  background: #23A6F0 url("../img/about/play.svg") center/19px 23px no-repeat;
  -webkit-transition: 0.4s ease all;
  -o-transition: 0.4s ease all;
  transition: 0.4s ease all;
}

@supports (width: clamp( 3.3125rem , 1.5267857143rem  +  8.9285714286vw , 5.8125rem )) {
  .about__video::after {
    width: clamp( 3.3125rem , 1.5267857143rem  +  8.9285714286vw , 5.8125rem );
  }
}

@supports not (width: clamp( 3.3125rem , 1.5267857143rem  +  8.9285714286vw , 5.8125rem )) {
  .about__video::after {
    width: calc(3.3125rem + 2.5 * (100vw - 20rem) / 28);
  }
}

@supports (height: clamp( 3.3125rem , 1.5267857143rem  +  8.9285714286vw , 5.8125rem )) {
  .about__video::after {
    height: clamp( 3.3125rem , 1.5267857143rem  +  8.9285714286vw , 5.8125rem );
  }
}

@supports not (height: clamp( 3.3125rem , 1.5267857143rem  +  8.9285714286vw , 5.8125rem )) {
  .about__video::after {
    height: calc(3.3125rem + 2.5 * (100vw - 20rem) / 28);
  }
}

.about__info {
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
}

.about__top-info {
  padding-top: 20px;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
}

.about__top-header {
  font-weight: 700;
  font-weight: 700;
  font-size: 24px;
}

.about__top-text {
  font-weight: 500;
  max-width: 330px;
}

.about__bottom-info {
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
}

.about__bottom-column {
  padding-left: 52px;
}

.about__bottom-column:first-child {
  background: url("../img/about/1.svg") top left no-repeat;
}

.about__bottom-column:last-child {
  background: url("../img/about/2.svg") top left no-repeat;
}

.about__bottom-header {
  font-weight: 700;
  font-size: 16px;
  max-width: 285px;
}

.about__bottom-text {
  font-weight: 600;
}

@supports (padding-top: clamp( 1.875rem , -0.2828947368rem  +  10.7894736842vw , 7rem )) {
  .pricing {
    padding-top: clamp( 1.875rem , -0.2828947368rem  +  10.7894736842vw , 7rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , -0.2828947368rem  +  10.7894736842vw , 7rem )) {
  .pricing {
    padding-top: calc(1.875rem + 5.125 * (100vw - 20rem) / 47.5);
  }
}

@supports (padding-bottom: clamp( 1.875rem , -0.2828947368rem  +  10.7894736842vw , 7rem )) {
  .pricing {
    padding-bottom: clamp( 1.875rem , -0.2828947368rem  +  10.7894736842vw , 7rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , -0.2828947368rem  +  10.7894736842vw , 7rem )) {
  .pricing {
    padding-bottom: calc(1.875rem + 5.125 * (100vw - 20rem) / 47.5);
  }
}

.pricing__inner {
  display: -ms-grid;
  display: grid;
}

@supports (gap: clamp( 3.75rem , 3.2236842105rem  +  2.6315789474vw , 5rem )) {
  .pricing__inner {
    gap: clamp( 3.75rem , 3.2236842105rem  +  2.6315789474vw , 5rem );
  }
}

@supports not (gap: clamp( 3.75rem , 3.2236842105rem  +  2.6315789474vw , 5rem )) {
  .pricing__inner {
    gap: calc(3.75rem + 1.25 * (100vw - 20rem) / 47.5);
  }
}

.pricing__items {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pricing__item {
  padding: 40px 50px;
  letter-spacing: 0.1px;
  text-align: center;
  display: -ms-grid;
  display: grid;
  grid-gap: 35px;
  font-weight: 700;
  font-size: 16px;
  background-color: #fff;
  border-radius: 10px;
  display: grid;
  grid-gap: 35px;
  max-width: 330px;
  position: relative;
}

.pricing__item::after {
  content: "New";
  position: absolute;
  width: 90px;
  height: 90px;
  background: #E77C40;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.1px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
  right: 18px;
  top: -26px;
  z-index: 1;
  display: none;
}

.pricing__item--active::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pricing__name-item {
  color: #252B42;
  font-size: 24px;
}

.pricing__item-desc {
  color: #737373;
  padding: 0 25px;
}

.pricing__price-box {
  color: #23A6F0;
  letter-spacing: 0.2px;
}

.pricing__price {
  font-size: 40px;
  display: -ms-grid;
  display: grid;
}

.pricing__btn {
  font-size: 14px;
  padding: 15px 65px;
  background-color: #23A6F0;
}

.pricing__bonus-box {
  font-weight: 600;
  font-size: 14px;
  color: #252B42;
  display: -ms-grid;
  display: grid;
  grid-gap: 15px;
}

.pricing__bonus {
  text-align: start;
}

@supports (padding-top: clamp( 0.0000000625rem , -4.5566036704rem  +  17.6100627358vw , 7rem )) {
  .contacts {
    padding-top: clamp( 0.0000000625rem , -4.5566036704rem  +  17.6100627358vw , 7rem );
  }
}

@supports not (padding-top: clamp( 0.0000000625rem , -4.5566036704rem  +  17.6100627358vw , 7rem )) {
  .contacts {
    padding-top: calc(0.0000000625rem + 6.9999999375 * (100vw - 25.875rem) / 39.75);
  }
}

@supports (padding-bottom: clamp( 0.0000000625rem , -4.5566036704rem  +  17.6100627358vw , 7rem )) {
  .contacts {
    padding-bottom: clamp( 0.0000000625rem , -4.5566036704rem  +  17.6100627358vw , 7rem );
  }
}

@supports not (padding-bottom: clamp( 0.0000000625rem , -4.5566036704rem  +  17.6100627358vw , 7rem )) {
  .contacts {
    padding-bottom: calc(0.0000000625rem + 6.9999999375 * (100vw - 25.875rem) / 39.75);
  }
}

.contacts__inner {
  display: -ms-grid;
  display: grid;
}

@supports (gap: clamp( 3.75rem , 2.9363207547rem  +  3.1446540881vw , 5rem )) {
  .contacts__inner {
    gap: clamp( 3.75rem , 2.9363207547rem  +  3.1446540881vw , 5rem );
  }
}

@supports not (gap: clamp( 3.75rem , 2.9363207547rem  +  3.1446540881vw , 5rem )) {
  .contacts__inner {
    gap: calc(3.75rem + 1.25 * (100vw - 25.875rem) / 39.75);
  }
}

.contacts__cards {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-column-align: center;
      justify-self: center;
  grid-gap: 30px;
}

@supports (padding-top: clamp( 1.875rem , 1.875rem  +  0vw , 1.875rem )) {
  .contacts__cards {
    padding-top: clamp( 1.875rem , 1.875rem  +  0vw , 1.875rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 1.875rem  +  0vw , 1.875rem )) {
  .contacts__cards {
    padding-top: calc(1.875rem + 0 * (100vw - 20rem) / 47.5);
  }
}

@supports (padding-bottom: clamp( 1.875rem , 1.875rem  +  0vw , 1.875rem )) {
  .contacts__cards {
    padding-bottom: clamp( 1.875rem , 1.875rem  +  0vw , 1.875rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.875rem  +  0vw , 1.875rem )) {
  .contacts__cards {
    padding-bottom: calc(1.875rem + 0 * (100vw - 20rem) / 47.5);
  }
}

.contacts__card {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  justify-items: center;
  padding: 50px;
  -webkit-transition: 0.4s ease transform;
  -o-transition: 0.4s ease transform;
  transition: 0.4s ease transform;
  background-color: #fff;
  color: #252B42;
}

@supports (gap: clamp( 0.9375rem , 0.9375rem  +  0vw , 0.9375rem )) {
  .contacts__card {
    gap: clamp( 0.9375rem , 0.9375rem  +  0vw , 0.9375rem );
  }
}

@supports not (gap: clamp( 0.9375rem , 0.9375rem  +  0vw , 0.9375rem )) {
  .contacts__card {
    gap: calc(0.9375rem + 0 * (100vw - 20rem) / 47.5);
  }
}

.contacts__card:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  background-color: #23A6F0;
}

.contacts__card:hover .contacts__card-btn {
  border-color: #fff;
  color: #fff;
}

.contacts__card:hover svg {
  fill: white;
}

.contacts__card svg {
  -webkit-transition: 0.3s ease fill;
  -o-transition: 0.3s ease fill;
  transition: 0.3s ease fill;
  fill: #23A6F0;
}

.contacts__text-card {
  font-weight: 600;
}

.contacts__heading {
  font-weight: 700;
  font-size: 16px;
}

.contacts__card-btn {
  background-color: transparent;
  border-color: #23A6F0;
  color: #23A6F0;
}

.icon-tele {
  display: none;
}

.icon-mail {
  display: block;
}

.footer__inner {
  display: -ms-grid;
  display: grid;
  grid-gap: 4px;
}

.footer__copy p {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  padding: 25px 0;
  letter-spacing: 0.2px;
}

.footer-top {
  padding: 40px 0px 40px 0px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-auto-flow: column;
  border-bottom: 1px solid #E6E6E6;
}

.footer-top__list {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 20px;
}

.footer-top__link:hover .footer-top__icon {
  fill: #2A7CC7;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.footer-top__icon {
  fill: #23A6F0;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.footer-bottom {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-gap: 30px;
}

@supports (padding-top: clamp( 0.0000000625rem , -1.3157893849rem  +  6.5789472368vw , 3.125rem )) {
  .footer-bottom {
    padding-top: clamp( 0.0000000625rem , -1.3157893849rem  +  6.5789472368vw , 3.125rem );
  }
}

@supports not (padding-top: clamp( 0.0000000625rem , -1.3157893849rem  +  6.5789472368vw , 3.125rem )) {
  .footer-bottom {
    padding-top: calc(0.0000000625rem + 3.1249999375 * (100vw - 20rem) / 47.5);
  }
}

@supports (padding-bottom: clamp( 0.0000000625rem , -1.3157893849rem  +  6.5789472368vw , 3.125rem )) {
  .footer-bottom {
    padding-bottom: clamp( 0.0000000625rem , -1.3157893849rem  +  6.5789472368vw , 3.125rem );
  }
}

@supports not (padding-bottom: clamp( 0.0000000625rem , -1.3157893849rem  +  6.5789472368vw , 3.125rem )) {
  .footer-bottom {
    padding-bottom: calc(0.0000000625rem + 3.1249999375 * (100vw - 20rem) / 47.5);
  }
}

.footer-bottom__column {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
}

.footer-bottom__column:not(:last-child) {
  max-width: 152px;
  width: 100%;
}

.footer-bottom__column:last-child {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.footer-bottom__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
}

.footer-bottom__menu {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
}

.footer-bottom__link {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.footer-bottom__form {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
}

.footer-bottom__text {
  font-size: 12px;
  line-height: 28px;
  letter-spacing: 0.2px;
}

.form {
  position: relative;
}

.form__input {
  padding: 15px 117px 15px 20px;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 0;
  grid-row-end: 1;
}

.form__input::-webkit-input-placeholder {
  color: #737373;
  letter-spacing: 0.2px;
}

.form__input::-moz-placeholder {
  color: #737373;
  letter-spacing: 0.2px;
}

.form__input:-ms-input-placeholder {
  color: #737373;
  letter-spacing: 0.2px;
}

.form__input::-ms-input-placeholder {
  color: #737373;
  letter-spacing: 0.2px;
}

.form__input::placeholder {
  color: #737373;
  letter-spacing: 0.2px;
}

.form__btn {
  position: absolute;
  right: 0;
  top: 0;
  padding: 14px 22.5px;
  max-width: 117px;
  background-color: #23A6F0;
  border: 1px solid #E6E6E6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0px 5px 5px 0px;
  font-weight: 400;
  font-size: 14px;
}

.form__btn:hover {
  background-color: #2A7CC7;
}

@media (min-width: 67.5em) {
  .clients__info {
    margin-left: -1px;
  }
}

@media (max-width: 67.5em) {
  .strategy__items {
    -ms-grid-columns: (minmax(320px, 328px))[2];
    grid-template-columns: repeat(2, minmax(320px, 328px));
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .pricing__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 67.5em) and (max-width: 47.99875em) {
  .strategy__items {
    -ms-grid-columns: 305px;
    grid-template-columns: 305px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 61.99875em) {
  .clients__cards {
    grid-auto-flow: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: minmax(auto, 508px);
    grid-template-columns: minmax(auto, 508px);
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .about__content {
    grid-auto-flow: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 50px;
  }

  .about__info {
    -ms-grid-column-align: center;
        justify-self: center;
  }

  .contacts__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .icon-tele {
    display: block;
  }

  .icon-mail {
    display: none;
  }

  .footer-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 47.99875em) {
@supports (padding-left: clamp( 0.9375rem , 4.2708333333rem  +  -6.9444444444vw , 2.1875rem )) {
    .header__container {
      padding-left: clamp( 0.9375rem , 4.2708333333rem  +  -6.9444444444vw , 2.1875rem );
    }
}

@supports not (padding-left: clamp( 0.9375rem , 4.2708333333rem  +  -6.9444444444vw , 2.1875rem )) {
    .header__container {
      padding-left: calc(2.1875rem + -1.25 * (100vw - 30rem) / 18);
    }
}

@supports (padding-right: clamp( 0.9375rem , 4.2708333333rem  +  -6.9444444444vw , 2.1875rem )) {
    .header__container {
      padding-right: clamp( 0.9375rem , 4.2708333333rem  +  -6.9444444444vw , 2.1875rem );
    }
}

@supports not (padding-right: clamp( 0.9375rem , 4.2708333333rem  +  -6.9444444444vw , 2.1875rem )) {
    .header__container {
      padding-right: calc(2.1875rem + -1.25 * (100vw - 30rem) / 18);
    }
}

@supports (padding-left: clamp( 0.9375rem , -1.5625rem  +  12.5vw , 2.1875rem )) {
    .header__container {
      padding-left: clamp( 0.9375rem , -1.5625rem  +  12.5vw , 2.1875rem );
    }
}

@supports not (padding-left: clamp( 0.9375rem , -1.5625rem  +  12.5vw , 2.1875rem )) {
    .header__container {
      padding-left: calc(0.9375rem + 1.25 * (100vw - 20rem) / 10);
    }
}

@supports (padding-right: clamp( 0.9375rem , -1.5625rem  +  12.5vw , 2.1875rem )) {
    .header__container {
      padding-right: clamp( 0.9375rem , -1.5625rem  +  12.5vw , 2.1875rem );
    }
}

@supports not (padding-right: clamp( 0.9375rem , -1.5625rem  +  12.5vw , 2.1875rem )) {
    .header__container {
      padding-right: calc(0.9375rem + 1.25 * (100vw - 20rem) / 10);
    }
}

  .nav {
    grid-gap: 85px 25px;
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .menu {
    -ms-grid-row: 2;
        grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -ms-grid-row-align: start;
        align-self: start;
    width: 100%;
        grid-template: 30px;
    font-weight: 400;
    font-size: 30px;
    -webkit-transition: margin 0.3s ease-in-out;
    -o-transition: margin 0.3s ease-in-out;
    transition: margin 0.3s ease-in-out;
    margin-top: -1700px;
  }

@supports (gap: clamp( 1.875rem , 1.875rem  +  0vw , 1.875rem )) {
    .menu {
      gap: clamp( 1.875rem , 1.875rem  +  0vw , 1.875rem );
    }
}

@supports not (gap: clamp( 1.875rem , 1.875rem  +  0vw , 1.875rem )) {
    .menu {
      gap: calc(1.875rem + 0 * (100vw - 20rem) / 47.5);
    }
}

  .search__input {
    display: block;
    -webkit-transform: translateX(-200%);
        -ms-transform: translateX(-200%);
            transform: translateX(-200%);
  }

  .auth-menu {
    display: none;
  }

  .auth-menu-mobile {
    display: -ms-grid;
    display: grid;
  }

  .strategy__item {
    background-image: url("../img/strategy/2.svg");
  }
}

@media (max-width: 35.99875em) {
  .hero__subtitle {
    max-width: 234px;
  }

  .hero__buttons {
    grid-auto-flow: row;
    grid-gap: 25px;
  }

  .strategy__content {
    grid-gap: 0;
  }

  .strategy .title-box__title {
    font-size: 40px;
    padding: 0 23px;
  }

  .strategy .title-box__subtitle {
    white-space: initial;
  }

  .clients__card {
    grid-auto-flow: row;
  }

  .clients__image {
    display: none;
  }

  .clients__image-mobile {
    display: block;
  }

  .clients__image-mobile {
    display: block;
    max-width: 300px;
  }

  .clients__info {
    max-width: 300px;
  }

  .pricing__items {
    padding: 0;
  }

  .pricing__item-wrapper:last-child {
    padding-bottom: 45px;
  }

  .footer__copy {
    text-align: center;
    max-width: 221px;
    -ms-grid-column-align: center;
        justify-self: center;
  }

  .footer-top {
    grid-auto-flow: row;
    grid-gap: 11.5px;
    border-bottom: none;
  }

  .footer-bottom {
    display: -ms-grid;
    display: grid;
    grid-auto-flow: row;
  }
}

@media (any-hover: hover) {
  .btn_arr svg:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .about__video:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .about__video:hover::after {
    background-color: #2A7CC7;
    background-size: 25px 25px;
  }
}